<!-- main slider -->

<section class="mb-4">
  <div class="row g-0">
    <div class="col-md-10">
      <owl-carousel-o [options]="customOptionsMain">
        <ng-template carouselSlide>
          <img
            src="./assets/images/img1.avif"
            height="300px"
            class="w-100"
            alt=""
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/images/img2.avif"
            height="300px"
            class="w-100"
            alt=""
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/images/img3.avif"
            height="300px"
            class="w-100"
            alt=""
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/images/img4.avif"
            height="300px"
            class="w-100"
            alt=""
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/images/img5.avif"
            height="300px"
            class="w-100"
            alt=""
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/images/img6.avif"
            height="300px"
            class="w-100"
            alt=""
          />
        </ng-template>
      </owl-carousel-o>
      <div></div>
    </div>
    <div class="col-md-2">
      <div>
        <img
          src="./assets/images/grocery-banner.png"
          height="150px"
          class="w-100"
          alt=""
        />
        <img
          src="./assets/images/grocery-banner-2.jpeg"
          height="150px"
          class="w-100"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<!-- categories -->

<section class="my-4">
  <h2 class="my-4">Popular Categories :</h2>
  <owl-carousel-o [options]="customOptionsCat">
    @for (cat of categoryList; track $index) {
    <ng-template carouselSlide class="bg-danger">
      <div>
        <img [src]="cat.image" height="250px" [alt]="cat.name" />
        <h3 class="h6 text-main">{{ cat.name }}</h3>
      </div>
    </ng-template>
    }
  </owl-carousel-o>
</section>

<!-- products -->

<app-product></app-product>
