@if (loading) {
<div class="d-flex justify-content-center align-items-center min-vh-100">
  <span [ngClass]="{ loader: loading }"></span>
</div>
} @else {
<section class="container">
  <h1 class="text-main fw-bold text-center mt-5">All Brands</h1>
  <div>
    <div class="container my-5">
      <div class="row">
        @for (brand of brands; track brand._id) {
        <div
          class="col-md-3 cr"
          (click)="getSpecificBrand(brand._id, brand.name)"
        >
          <div
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            class="border-categories product mt-4"
          >
            <img
              [src]="brand.image"
              class="w-100 rounded-top-2"
              [alt]="brand.name"
            />
            <p class="h6 text-center p-3">
              {{ brand.name }}
            </p>
          </div>
        </div>
        }
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body row px-5 align-items-center">
          <div class="col-7">
            <h1 class="fw-bold text-main">{{ showBrand.name }}</h1>
            <span class="text-muted">{{ showBrand.slug }}</span>
          </div>
          <div class="col-5">
            <img [src]="showBrand.image" class="w-100" [alt]="showBrand.name" />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
}
